*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 60px;
}
#nav-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}